<h2 mat-dialog-title style="color: rgb(255, 255, 255);
text-align: center;
font-size: 25px;">{{titulo}}</h2>
<mat-dialog-content class="mat-typography" [formGroup]="formCrearPersonaje">
    <div class="loader_contenedor" *ngIf="loader">
        <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
        <label class="textLoader">Cargando</label>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" matInput>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline">
                <mat-label>Lugar de operación</mat-label>
                <input formControlName="lugar_operacion" matInput>
            </mat-form-field>
        </div>
        <div class="col-6" *ngIf="!data">
            <mat-form-field appearance="outline">
                <mat-label>Grupo</mat-label>
                <mat-select formControlName="grupo_id">
                <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.tipo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6" *ngIf="!data">
            <mat-form-field appearance="outline">
                <mat-label>Vehiculo</mat-label>
                <mat-select formControlName="vehiculo_id" >
                    <mat-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.id">{{vehiculo.vehiculo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6" *ngIf="!data">
            <mat-form-field appearance="outline">
                <mat-label>imagen url</mat-label>
                <input formControlName="imagen" matInput>
            </mat-form-field>
        </div>
        <div class="col-6" *ngIf="!data">
            <mat-form-field appearance="outline">
                <mat-label>condición</mat-label>
                <mat-select formControlName="condicion_id">
                    <mat-option *ngFor="let condicion of condiciones" [value]="condicion.id">{{condicion.condicion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12" *ngIf="!data">
            <mat-form-field appearance="outline">
                <mat-label>Poderes</mat-label>
                <mat-select [(ngModel)]="poder" [ngModelOptions]="{standalone: true}">
                    <ng-container *ngFor="let poder of poderes">
                        <mat-option (click)="addChip(poder)" [value]="poder">{{poder.tipo}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-chip-list >
                <mat-chip *ngFor="let chip of chipsPOderes"
                  (removed)="eliminarChip(chip)">
                  {{chip.tipo}}
                  <button matChipRemove style="width: 25px !important;
                  height: 100% !important;">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" class="btn btn-danger" (click)="close()" >Cerrar</button>
  <button mat-button type="button" class="btn btn-success" (click)="crearPersonaje()" [disabled]="formCrearPersonaje.invalid" >{{boton_titulo}}</button>
</mat-dialog-actions>
