<app-loader></app-loader>
<header style="background: #ee171f; height: 65px;">
  <div style="display: flex;">
    <img style="height: 63px;" src="../assets/imagenes/Marvel_Logo.svg.png">
    <h2>API</h2>
  </div>
</header>
<main>

  <router-outlet></router-outlet>
</main>


<footer>
  <ul style="display: flex;">
    <li>
      <a href="https://github.com/jhonatanBrr"><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jhonatan-berrios-olave-86b499210/"><i class="fa-brands fa-linkedin"></i></a>
    </li>
  </ul>
  <div style="width: 100%;
  text-align: center;">
    ❮❯ by jhonatan 2022
  </div>
</footer>



