mat-form-field{
    width: 100% !important;
}

.mat-focused .mat-form-field-label {
    color: #a3a3a3 !important;
}

.mat-form-field-label {
    color: #a3a3a3 !important;
}

div.mat-form-field-outline{
    color: #585858 !important;
}


span.mat-select-min-line{
    color: white !important;
}